.navBar {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: white;
}

.navBar-header {
  width: calc(100% - 100px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* display: table; */
  background-color: white;
  z-index: 100;
  padding-top: 30px;
  font-family: inherit;
  font-size: 1.4rem;
}

.navBar-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 7px;
  /* top: 50%; */
  /* left: 0; */
  /* transform: translateY(-50%); */
}

.navBar-menu {
  float: right;
}

.navBar-item {
  margin-right: 60px;
  display: inline-block;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
}

.navBar-item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  /* top: calc(100% + 2px); */
  display: inline-block;
  background: black;
  transition: all .5s cubic-bezier(.4,.6,.6,1);
}

.navBar-item:hover:before {
  width: 100%;
}

.navBar-button {
  cursor: pointer;
  color: white;
  background-color: #3a2837;
  font-size: 1.4rem;
  padding: 15px 20px;
  border-radius: 30px;
  display: inline-block;
  transition: transform .3s cubic-bezier(.4,.6,.6,1);
}

.navBar-button:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.active {
	font-weight: 700;
}