.service-item:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.1);
  width: calc(25% - 1px);
}

.service-item {
  float: left;
  width: 25%;
  height: 100px;
  padding: 20px 25px;
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

.service-item-title {
  font-weight: 800;
  font-size: 2.6rem;
  display: inline-block;
  margin-bottom: 10px;
}

.service-item-desc {
  font-size: 1.4rem;
}