
/* @media only screen and (max-width: 1100px){
  .work-item {
    min-height: 42vw;
    max-height: 42vw;
    
  }
}

@media only screen and (max-width: 600px) {
  .work-item {
      height: 280px;
      min-height: 0;
      max-height: none;
  }
} */

.work-item {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: 30px 30px auto 30px 30px;
  min-height: 32.5vw;
  max-height: 32.5vw;
}

.work-item-img {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  object-fit: cover;
}

/* .span-2 {
	grid-column: span 2;
} */

.work-item-category {
  grid-column: 2;
  grid-row: 2;
}

.work-item-title {
  grid-column: 2;
  grid-row: 3;
  font-size: 2.3vw;
  font-weight: 800;
}

.work-item-platform {
  grid-column: 2;
  grid-row: 4;
}

.work-item-platform .work-item-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  background: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 14px;
}

.work-item-icon.app{
  background-image: url(https://www.codigo.co/img/ui/ico-app.svg);
}

.work-item-icon.web{
  background-image: url(https://www.codigo.co/img/ui/ico-web.svg);
}

.work-item-icon.cms{
  background-image: url(https://www.codigo.co/img/ui/ico-cms.svg);
}

.work-item-icon.uiux{
  background-image: url(https://www.codigo.co/img/ui/ico-uiux.svg);
}