.work-header {
  background-color: white;
  padding-top: 220px;
  margin: 0 auto;
  width: 75%;
}

.work-header-title {
  font-weight: 800;
  font-size: 6.2rem;
  line-height: 7rem;
  display: block;
  margin: 0;
}

.work-showcase {
  display: grid;
	grid-template-columns: minmax(65%, 810px) auto 200px;
	grid-template-rows: 50px min-content 55px;
}

.category-list {
  grid-column: 1;
  grid-row: 2;
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3,calc((100% - 20px)/3));
}

.category {
  color: black;
  cursor: pointer;
  position: relative;
  padding: 10px 25px 10px 0;
}

.category:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: inline-block;
  background-color: #d5333e;
  transition: width 0.4s cubic-bezier(0.2, 1, 0.2, 1);
}

.category.is-active:before {
  width: 15px;
}

.category.is-active .category-text {
  font-weight: 800;
  margin-left: 25px;
}

.legend {
  display: inline-grid;
  align-self: end;
  grid-row: 2;
  grid-column: 3;
  /* float: right; */
}

.legend-header {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: .05em;
}

.legend-body {
  border-left: 1px solid #000;
  padding: 10px 0;
  box-sizing: border-box;
}

.legend-item{
  width: 50%;
  padding-left: 20px;
  float: left;
  display: flex;
  /* align-items: center; */
  margin: 0;
}

.legend-item:nth-child(-n+2) {
  margin-bottom: 1px;
}

.legend-text{
  font-size: 1rem;
  letter-spacing: .01em;
  margin-top: 2px;
}

.legend-icon {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.legend-icon-app {
  background-image: url(https://www.codigo.co/img/ui/ico-app.svg);
}

.legend-icon-web {
  background-image: url(https://www.codigo.co/img/ui/ico-web.svg);
}

.legend-icon-cms {
  background-image: url(https://www.codigo.co/img/ui/ico-cms.svg);
}

.legend-icon-uiux {
  background-image: url(https://www.codigo.co/img/ui/ico-uiux.svg);
}

/* .work-body {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 100;
  background-color: red;
} */

.work-grid {
  width: 100%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-flow: row dense;
  /* overflow: hidden; */
}

@media only screen and (max-width: 1100px){
  .work-grid {
    grid-template-columns: repeat(3,33.33333%);
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}